<!-- Created by: Danzz Coding | danzzcodingweb.vercel.app -->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="My Rest Api Project">
    <meta name="author" content="Danzz Coding">
	<meta name="keywords" content="Rest Api Bot WhatsApp By: Danzz Coding">

	<!-- TITLE -->
	<title>Danzz Api - Bug Report</title>
	<audio autoplay="autoplay" hidden="hidden" src="https://l.top4top.io/m_2429eq8w10.mp3"></audio>
    <link rel="shortcut icon" type="image/x-icon" src="images/icon.png">
	
	<!-- ICON -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">    
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="canonical" href="https://demo-basic.adminkit.io/" />
    <link href="https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap" rel="stylesheet">
    
    <!-- VENDORS -->
    <link rel="stylesheet" href="vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="vendors/owl-carousel-2/owl.theme.default.min.css">
    <link rel="stylesheet" href="vendors/css/vendors.bundle.base.css">
    <link rel="stylesheet" href="vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="vendors/owl-carousel-2/owl.carousel.min.css">
    <link href="vendors/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">	
    	
    <!-- CSS -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/dashboard.css" rel="stylesheet">
</head>

<body id="page-top" class="dark-mode">
    <div id="wrapper">
   
        <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/docs">
                <img src="images/icon.png" class="rounded-circle shadow-4"style="width: 50px;" alt="Avatar" />
                <div class="sidebar-brand-text mx-3">DANZZ API</div>
            </a>
            <hr class="sidebar-divider my-0">
            <li class="nav-item active">
                <a class="nav-link" href="/">
                    <i class="fa fa-home"></i>
                    <span>Home</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/dash">
                    <i class="bx bx-grid-alt"></i>
                    <span>Dashboard</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/myprofile">
                    <i class="fa fa-user"></i>
                    <span>Profile</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/pricing">
                    <i class="fa fa-money"></i>
                    <span>Pricing</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/donation">
                    <i class="fa fa-coins"></i>
                    <span>Donation</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="https://youtu.be/ZQE_C-TONAg">
                    <i class="fa fa-code"></i>
                    <span>Source Code</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="https://wa.me/6288296339947?text=menu">
                    <i class="fa fa-robot"></i>
                    <span>Example Bot</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/bugreport">
                    <i class="fa fa-bug"></i>
                    <span>Bug Report</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseWebapi" aria-expanded="true" aria-controls="collapseBootstrap">
                    <i class="fa fa-globe"></i>
                    <span>Web</span>
                </a>
                <div id="collapseWebapi" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Web API</h6>
                        <a class="collapse-item" href="https://github.com/Danzzxcodes" target="_blank">Base Wa Bot</a>
                        <a class="collapse-item" href="https://wa.me/6288296339947?text=menu" target="_blank">Example Bot</a>
                        <a class="collapse-item" href="#" target="_blank">Changelog</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseService" aria-expanded="true" aria-controls="collapseBootstrap">
                    <i class="fa fa-headset"></i>
                    <span>Customer Service</span>
                </a>
                <div id="collapseService" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Customer Service</h6>
                        <a class="collapse-item" href="https://wa.me/6288296339947?text=hallo!" target="_blank">Cs WA 24 Jam</a>
                        <a class="collapse-item" href="https://chat.whatsapp.com/Gq71DUTFOhRE9efPYyobYu" target="_blank">Cs Group WA 24 Jam</a>
                    </div>
                </div>
            </li>
            <hr class="sidebar-divider">            
            <div class="sidebar-heading">
                Info API
            </div>
            <li class="nav-item active">
                <a class="nav-link" href="/info/api">
                    <i class="fa fa-info-circle"></i>
                    <span>Info API</span></a>
            </li>
            <hr class="sidebar-divider">
            <div class="sidebar-heading">
                Main API
            </div>
            <li class="nav-item active">
                <a class="nav-link" href="/main/statistic">
                    <i class="fa fa-layer-group"></i>
                    <span>Statistic</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/main/runtime">
                    <i class="fa fa-clock"></i>
                    <span>Runtime</span></a>
            </li>
            
            <hr class="sidebar-divider">
            <div class="sidebar-heading">
                Contact
            </div>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/Danzzxcodes">
                    <i class="fab fa-fw fa-github">&nbsp;Github</i>
                    <span></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://youtube.com/c/DanzzCoding">
                    <i class="fab fa-fw fa-youtube">&nbsp;Youtube</i>
                    <span></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://instagram.com/ramdani_real01">
                    <i class="fab fa-fw fa-instagram">&nbsp;Instagram</i>
                    <span></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://facebook.com/profile.php?id=100055274594084">
                    <i class="fab fa-fw fa-facebook">&nbsp;Facebook</i>
                    <span></span>
                </a>
            </li>
           <li class="nav-item">
                <a class="nav-link" href="https://wa.me/6288296339947">
                    <i class="fab fa-fw fa-whatsapp">&nbsp;WhatsApp</i>
                    <span></span>
                </a>
            </li>
            <hr class="sidebar-divider">
        </ul>
 
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                            
                <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
            <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
              <i class="fa fa-bars"></i>
            </button><b>BUG REPORT</b>
            <ul class="navbar-nav ml-auto">
              <div class="topbar-divider d-none d-sm-block"></div>
              <li class="nav-item dropdown no-arrow">
              </a>
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                aria-labelledby="searchDropdown">
              </div>
            </li>
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <span class="badge badge-danger badge-counter">2 </span>
              </a>
                 <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header bg-info-gradient">
                  NOTIFICATION
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-danger">
                      <i class="fas fa-info-circle text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">2 September, 2022</div>
                    <span style="font-size:15px;">Date of manufacture</span>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-danger">
                      <i class="fas fa-globe text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">21 September, 2022</div>
                    <span style="font-size:15px;">Publication date</span>
                  </div>
                </a>
              </div>
            </li>
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="" id="messagesDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-list fa-fw"></i>
                <span class="badge badge-danger badge-counter">4</span>
              </a>
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header">
                  Progress Skils
                </h6>
                <a class="dropdown-item align-items-center">
                  <div class="mb-3">
                    <div class="small text-gray-500">Html
                      <div class="small float-right"><b>85%</b></div>
                    </div>
                    <div class="progress" style="height: 12px;">
                      <div class="progress-bar bg-blue" role="progressbar" style="width: 85%" aria-valuenow="85"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </a>
                <a class="dropdown-item align-items-center">
                  <div class="mb-3">
                    <div class="small text-gray-500">Css
                      <div class="small float-right"><b>65%</b></div>
                    </div>
                    <div class="progress" style="height: 12px;">
                      <div class="progress-bar bg-danger" role="progressbar" style="width: 65%" aria-valuenow="65"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </a>
                <a class="dropdown-item align-items-center">
                  <div class="mb-3">
                    <div class="small text-gray-500">JavaScript
                      <div class="small float-right"><b>90%</b></div>
                    </div>
                    <div class="progress" style="height: 12px;">
                      <div class="progress-bar bg-warning" role="progressbar" style="width: 90%" aria-valuenow="90"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </a>
                <a class="dropdown-item align-items-center">
                  <div class="mb-3">
                    <div class="small text-gray-500">Php
                      <div class="small float-right"><b>60%</b></div>
                    </div>
                    <div class="progress" style="height: 12px;">
                      <div class="progress-bar bg-blue2" role="progressbar" style="width: 60%" aria-valuenow="60"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </a>
              </div>
            </li>
            <div class="topbar-divider d-none d-sm-block"></div>
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <img class="" src="images/icon.png" style="max-width: 30px">
                <span class="ml-2 d-none d-lg-inline text-yellow small">Danzz Coding</span>
                <a href="/myprofile">
                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header">
                  <i class="bx bx-user"></i> Profile
                </h6>
                <a href="#"><h6 class="dropdown-header">
                  <ion-icon name="pie-chart-outline" class="nav__icon"></ion-icon> Analytics
                </h6>
              </a>
              <a href="https://wa.me/6288296339947"><h6 class="dropdown-header">
                  <i class="fa fa-question"></i> Help
                </h6>
              </a>
              <a href="#"><h6 class="dropdown-header">
                  <i class="bx bx-cog"></i> Settings
                </h6>
              </a>
              <a href="/login"><h6 class="dropdown-header">
                  <i class="bx bx-log-out"></i> Log Out
                </h6>
              </a>
              </a>
              </a>
              </div>
              </div>
            </li>
          </ul>
        </nav>
               <div class="col-xl-3 col-md-0 mb-4">
              <div class="card h-10">
              	<div class="">              	
                  <div class="dropdown no-arrow">
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                      aria-labelledby="dropdownMenuLink">                      
                    </div>
                  </div>
                </div>
				<div class="card-body">
                  <div class="">
                    <div class="fa fa-warning"> BUG REPORT</div><h6><b></b></h6>
						<div class="fa fa-headset"></div> Any bug? please contact the rest api developer or explain the bug by submitting the report below.
						
                  </div>                 
                </div>                
              </div>
            </div>                        
            
            <div class="col-xl-3 col-md-0 mb-4">
              <div class="card h-10">
              	<div class="">              	
                  <div class="dropdown no-arrow">
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                      aria-labelledby="dropdownMenuLink">                      
                    </div>
                  </div>
                </div>
				<div class="card-body">
                  <div class="">
						<div class="form cange">
                			<div class="form-content">
                    	<div class ="fa fa-bug"><b> Bug Report</div>
                    <form action="https://wa.me/6288296339947?text=danzz">
                        <div class="txt_field">
                <input type="keys" required placeholder="Explain your problem" class="input">
                <span></span>
            </div>            
						<button type="submit" class="btn btn-primary">Send</button>
                    </form>
    			</div>
                  </div>
                  </div>
                </div>                
              </div>
            </div>
            
           <div class="col-xl-3 col-md-0 mb-4">
              <div class="card h-10">
              	<div class="card-body">
              	<h6 class="m-0 font-weight-bold text">Ads</h4>
                  <div class="dropdown no-arrow">
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                      aria-labelledby="dropdownMenuLink">                      
                    </div>
                  </div>
                </div>
				<div class="card-body">
                  <div class="">
                    <h4><b>Try access to premium</b></h4>
						<h5>Rp. 7k, discount 75%</h5>
						<p><i class="bx bx-check-circle"></i> Request 1000/day</p>
						<p><i class="bx bx-check-circle"></i> Custom Apikey</p>
						<p><i class="bx bx-check-circle"></i> Limit 1000/day</p>
						<p><i class="bx bx-check-circle"></i> Premium Features</p>
						<p><i class="bx bx-check-circle"></i> Expired 1 month</p>
                  </div>
                  <a href="https://wa.me/6288296339947?text=BANG+ORDER+PREMIUM+USER">
                  <button type="submit" class="btn btn-primary">Order Now</button>
                  </a>
                </div>
                <div class="">
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-0 mb-4">
              <div class="card h-10">
              	<div class="card-body">
              	<h6 class="m-0 font-weight-bold text">Ads</h6>
                  <div class="dropdown no-arrow">
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                      aria-labelledby="dropdownMenuLink">                      
                    </div>
                  </div>
                </div>
				<div class="card-body">
                  <div class="">
                    <h4><b>Jual Rest Api Work All Fitur</b></h4>
						<h5>Rp. 50K No Enc, No Error</h5>
						<p>• Features:</p>
						<p>- Downloader</p>
						<p>- Asupan</p>
						<p>- Cecan</p>
						<p>- Search</p>
						<p>- Film</p>
						<p>- Text Pro</p>
						<p>- Photo Oxy</p>
						<p>- Canvas</p>
						<p>- Maker</p>
						<p>- Wallpaper</p>
						<p>- Game</p>
						<p>- Fun</p>
						<p>- Sfw</p>
						<p>- Nsfw</p>
						<p>- Random</p>
						<p>- Stalk</p>
						<p>- Short Link</p>
						<p>- Islamic</p>
						<p>- Trending</p>
						<p>- News</p>
						<p>- Info</p>
						<p>- Primbon</p>
						<p>- Tools</p>
                  </div>
                  <a href="https://wa.me/6288296339947?text=bang+beli+rest+api.">
                  <button type="submit" class="btn btn-primary">Order Now</button>
                  </a>
                </div>
                <div class="">
                </div>
              </div>
            </div>
                    <div class="row">
                        <div class="col-lg-12 text-center">
                        	<div class="text-md-left font-weight-bold">
                            Contact
                            <p>
                            	<a href="https://youtube.com/c/DanzzCoding" class="btn btn-primary btn-sm ml-2" target="_blank"><i class=""></i>Location: Bogor - Indonesia</a>
                            	<a href="mailto:danzzcoding@gmail.com" class="btn btn-primary btn-sm ml-2" target="_blank"><i class=""></i>Email: danzzcoding@gmail.com</a>
                            	<a href="https://wa.me/6288296339947" class="btn btn-primary btn-sm ml-2" target="_blank"><i class=""></i>Phone Number: 0882-9633-9947</a>
                            	</div>
                            	<div class="col-lg-12 text-center">
                            	<div class="text-md-left font-weight-bold">
                            	Social Media
                            	<div class="col-lg-12 text-center">
                                <a href="https://instagram.com/ramdani_real01" class="btn btn-primary btn-sm ml-2" target="_blank"><i class="fab fa-fw fa-instagram"></i>&nbsp;Instagram</a>
                                <a href="https://instagram.com/ramdani_real01" class="btn btn-primary btn-sm ml-2" target="_blank"><i class="fab fa-fw fa-facebook"></i>&nbsp;Facebook</a>
                                
                            </p>
                        </div>
                      </div>
                    </div>
                   </div>
                </div>
                
            </div>
    </div>
    
    <footer class="sticky-footer">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        Copyright © <span id="Years">2022</span> by:
                        <a href="/donation" target="_blank" style="color: rgb(255, 234, 0);">Danzz Coding</a>
                        </span>
                    </div>
                </div>
            </footer>

    
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    
	<!-- ICON JS -->
	<script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
	
	<!-- JS -->
    <script src="vendors/jquery/jquery.min.js"></script>
    <script src="vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendors/jquery-easing/jquery.easing.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/dashboard.js"></script>    
</body>
</html>